<div ngClass="class_section_user_container">
    <ng-template [ngIf]="type === 1" [ngIfElse]="groupProfile">
        <app-avatar [avatar]="avatar" size="md"></app-avatar>   
        <!-- <img [src]="avatar">    -->
    </ng-template>
    
    <ng-template #groupProfile>
        <app-avatar-group [name]="name" size="md"></app-avatar-group>        
    </ng-template>
        
    <div ngClass="class_section_user_name_container">
        <span ngClass="class_text_ellipsis">{{name}}</span>
        <span *ngIf="type === 1">En línea</span>
    </div>

</div>
